body{
  text-align: center;
  height: 300px;
  width: 250px;
}

.container {
  text-align: center;
}

/*.continer{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: [row1-start] 25% [row1-end] 50% [third-line] auto [last-line];
}*/

button, input {
  font-size: 20px;
}
